.remove-button {
  background: none; 
  border-width: 1px; 
  padding: 8px; 
  position: absolute; 
  right: 500px; 
}

.checkbox {
  margin-right: 10px; 
  margin-left: -17px; 
}

.task {
  margin: 20px; 
  font-weight: bold; 
  font-size: 18px; 
}